set -x fish_user_paths
fish_add_path /bin
fish_add_path ~/.cargo/bin
fish_add_path ~/.local/bin
fish_add_path ~/.luarocks/bin
fish_add_path ~/.local/share/pnpm
fish_add_path ~/.local/share/bob-nvim/bin
{{ if ne .profile "wsl" -}}
fish_add_path /var/lib/flatpak/exports/bin/
{{ end -}}
fish_add_path ~/.dotnet/tools
set -gx DENO_INSTALL "~/.deno"
fish_add_path ~/.deno
